# --------------------------------------------------
# Configuration générale de l'application
# --------------------------------------------------

APP_ENV=dev
APP_SECRET=change_me
APP_URL=http://127.0.0.1:8000

# --------------------------------------------------
# Base de données
# --------------------------------------------------

# Adapter les informations de connexion à votre configuration locale

DATABASE_URL="mysql://user:password@127.0.0.1:3306/knowledge_learning?serverVersion=8.0&charset=utf8mb4"

# --------------------------------------------------
# Mailer
# --------------------------------------------------

# Valeur fournie dans le rendu du devoir

MAILER_DSN=""

# --------------------------------------------------
# Stripe (mode test)
# --------------------------------------------------

# Valeurs fournies dans le rendu du devoir

STRIPE_SECRET_KEY=""
STRIPE_PUBLISHABLE_KEY=""