{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Apprenez chez vous avec Knowledge Learning</h1>

<p>
    Découvrez des formations interactives issues des supports de la société Knowledge,
    accessibles en ligne, en toute autonomie.
</p>

<h2>Comment ça fonctionne ?</h2>
<ol>
    <li>Inscrivez-vous, puis validez votre compte, gràce à l'email reçu</li>
    <li>Connectez-vous à votre compte utilisateur</li>
    <li>Choisissez votre formation parmi nos thèmes</li>
    <li>Vous pouvez acheter un cursus entier ou simplement une leçon</li>
    <li>Suivez vos lessons et n'oubliez pas de les valider</li>
    <li>Apprenez à votre rythme</li>
    <li>Si vous validez toutes les lessons d'un thème, vous obtenez une certification</li>
</ol>

<h2>Nos formations</h2>
    <p>
    <a href="{{ path('app_formations') }}">
        Découvrir nos formations
    </a>
</p>




{% endblock %}
