{% extends 'base.html.twig' %}

{% block title %}Nos formations{% endblock %}

{% block body %}

<h1>Nos formations</h1>

{% for theme in themes %}
    <section>

        <h2>{{ theme.name }}</h2>

        <ul>
            {% for cursus in theme.cursus %}
                <li>
                    <a href="{{ path('cursus_show', { id: cursus.id }) }}">
                        {{ cursus.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>

    </section>

{% else %}

    <p class="warning-message">
    Aucune formation disponible.
    </p>

{% endfor %}

{% endblock %}